{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": 3 }],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "universal-import",
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "test": "./test",
          "_storybook": "./.storybook"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": [
        "lodash",
        "transform-react-remove-prop-types",
        [
          "babel-plugin-styled-components",
          {
            // hide diplay names for production build
            "displayName": false
          }
        ]
      ]
    }
  }
}
